
.container{
    width:1200px;
    margin:0 auto;
}
@mixin name {
    color:#fff;
    display:inline-block;
    font-size: 14px;
    @content;
}
/* top header*/
.top_header{
    background:#be8f00;
    .top{
        .top_nav{
            display:flex;
            align-items: center;
            justify-content: space-between;
        }
        .form1{
            background:#cba533;
            i{
                color:#fff;
            }
            .text{
             @include name;
            }
        }
        .form2{
            display:flex;
            align-items: center;
            i{
                color:#fffc00;
            }
            .text{
                @include name;
            }
        }
    }
}
/*end top header*/
/*start header*/
header{
    background:#f8bb00;
    .container{

        .logo{
            margin:17px 0;
        }
        .icon{
            color:#fff;
            i{
                color:#fff;
                padding:15px 9px 10px 7px;
            border-radius:50%;
            background:#3c300a;
            }
            h2{
                display:inline-block;
                font-size: 25px;
            }
            
            span{
                  color:#241900;
            }
        }
        .search{
          padding:0 0 !important;
            border-radius:3px;
            display:flex;
            align-items: center;
            background:#fff;
            margin:17px 0;
          
            font-size:14px;
            .search-item1{
                border-right: 1px solid #999;
                color:#5a5a5a;
                span{
                    padding-left:14px;
                }
                i{
                    margin:0 15px 0 57px ;
                  
                }
            }
           
            input{
                border-style:none;
            }
            .search-item2{
                
                margin-left: 15px;
                color:#5a5a5a;
                input{
                   width:220px;
                }
                
            }
            .search-item3{
               padding:13px;
                background:#e5e5e5;
            }
        }
       
        .cart{
            margin:17px 0;
            .cart-item{
                border:2px solid #fff;
                border-radius: 2px;
                color:#fff;
                padding:7px 11px;
            }
           
            button{
                background:#f9f200;
                color:#000;
                border-radius: 1px;
                border-style:none;
            }
          
        }
    .list{
      
        font-size: 14px;
        padding-bottom:17px;
        a{
            color:#fff;
        }
        .form1{
            display:flex;
            justify-content: space-between;
        }
    }
    }
}
/*end header*/
/**/
.slider{
    background:#f4f4f4;
    .container{
        padding-top:15px;
        .categori{
            ul{
                background:#fff;
                i{
                    color:#bfbfbf;
                }
                span{
                    color:#000;
                }
            }
            
        }
    }
}
/**/
footer{
    background:#f4f4f4;
    .container{
        h2{
            font-size:17px;
        }
        .nav-link{
            text-decoration: none;
            font-size:14px;
        }
    }
}